.purchase-ticket-container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  min-height: 100vh;
  background-color: #1e1e1e;
  color: white;
  padding: 20px;
  box-sizing: border-box;
}

.ticket-details-and-payment {
  display: flex;
  gap: 40px;
  max-width: 900px;
  width: 100%;
  background-color: #2a2a2a;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
}

.ticket-info {
  flex: 1;
  text-align: left;
}

.ticket-info h1 {
  font-size: 24px;
  margin-bottom: 20px;
}

.ticket-info p {
  font-size: 16px;
  margin-bottom: 10px;
}

.payment-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.custom-payment-element {
  background-color: #ffffff;
  padding: 20px;
  border-radius: 10px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
}

.price-info {
  display: flex;
  justify-content: space-between;
  font-size: 18px;
  margin: 20px 0;
}

.ticket-quantity {
  display: flex;
  align-items: center;
  margin-bottom: 20px;
}

.ticket-quantity label {
  margin-right: 10px;
  font-size: 16px;
}

.quantity-controls {
  display: flex;
  align-items: center;
}

.quantity-controls button {
  background-color: #5dc4e6;
  color: white;
  border: none;
  padding: 8px 12px;
  font-size: 16px;
  cursor: pointer;
  border-radius: 5px;
  margin: 0 10px;
}

.quantity-controls button:disabled {
  background-color: #ccc;
}

.quantity-controls span {
  font-size: 18px;
  margin: 0 10px;
}

.divider {
  width: 100%;
  border: 1px solid #444;
  margin: 20px 0;
}

.pay-button {
  background-color: #007bff;
  color: white;
  padding: 10px 20px;
  font-size: 16px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  text-align: center;
  width: 100%;
}

.pay-button:hover {
  background-color: #0056b3;
}
